<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ asset('bundles/salonramamain/images/favicon.ico') }}"/>

	<title>Etape 3 - Mon site</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/font_awesome.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/button.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/frame.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/lightbox.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/general.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/cadre.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/form.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/previs.css') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/step.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/barre_outil.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/block.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/upload.css') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/theme/theme.css') }}"/>

	<style>

	#CadSaveLoad{
	margin:20px auto 0;
	display:block;
	width:48px;
	height:48px;
	background:url("{{ asset('bundles/salonramamain/buildsite/image/load.gif') }}") no-repeat;
	}
	#CadSaveLoad.terminer{
	background:url("{{ asset('bundles/salonramamain/buildsite/image/tick.png') }}") no-repeat;
	}
	#CadSaveTxt{
	text-align:center;
	font-size:22px;
	padding:15px 0 20px;
	}
	#CadSaveTxt.terminer{
	color:#439005;
	}

	</style>

	<script src="{{ asset('bundles/salonramamain/js/jquery.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/js/lightbox.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/ot.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/json.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/history.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/previs.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/form.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/cadre.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/color.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/flash.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/css.js') }}"></script>

	<script src="{{ asset('bundles/salonramamain/buildsite/general.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/block.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/cadre.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/wys.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/upload.js') }}"></script>

	<script>

	var LocHomeSite = '{{ pathFront }}';
	var pathBuildsite = '';
	var sessionId = '{{ session_id }}';

	function Initialisation()
	{
		{% autoescape false %}
		GBlock.List = {{ blockList }};

		GData.List = {{ dataList }};

		GTheme.List = {{ themeList }};
		GTheme.Act = '{{ themeAct }}';

		GPage.List = {{ pageList }};
		GPage.Act = '{{ pageAct }}';

		GImage.BddList = {{ galleryList }};	
		GImage.List = {{ imageList }};
		{% endautoescape %}

		Initi();


		window.onbeforeunload = function(){ return 'Voulez vous vraiment quitter cette page ? Cela supprimera l\'avancement de votre site internet.'; };

		var AList = document.getElementById('storyboard').getElementsByTagName('a');
		for(var i = 0; i < AList.length; i++)
		{
			(function(z){
				var Href = AList[z].href;
				AList[z].onclick = function(){ setCadSave(function(){ window.onbeforeunload = ''; document.location = Href; }); return false; };
			})(i);
		}

		if(!document.getElementById('EtapeValide'))
		{
			document.getElementById('EtapeSuivant').onclick = function(){ setCadSave(function(){ window.onbeforeunload = ''; document.location = 'step4'; }); };
			document.getElementById('EtapePrecedent').onclick = function(){ setCadSave(function(){ window.onbeforeunload = ''; document.location = 'step2'; }); };
		}
		else
		{
			var onclick = document.getElementById('EtapeSuivant').onclick;

			document.getElementById('EtapeSuivant').onclick = function(){ setCadSave(function(){ window.onbeforeunload = ''; onclick(); }); };

			document.getElementById('EtapeValide').onclick = function(){ setCadSave(); };
			document.getElementById('EtapeValide').firstChild.innerHTML = 'Enregistrer';
		}

		document.getElementById('CreatorHeadLogo').onclick = function()
		{
			if(confirm('Voulez-vous retourner à la page d\'accueil de Salonrama ?'))
			{
				setCadSave(function(){ window.onbeforeunload = ''; document.location = '../'; });
			}
		};

		{% autoescape false %}
		{% if onload %}
		{{ onload }}
		{% endif %}
		{% endautoescape %}
	}

	function voirSite()
	{
		bsCadreLoad.show();

		var BlockList = GBlock.getSave();
		var CallBack = function()
		{
			$.ajax({
				type: 'POST',
				url: 'preview',
				data: {},
				dataType: 'json',
				success: function(response){
					Ot.openPopup(LocHomeSite+'index.php?page='+GPage.Act, 'Full', '');
				},
				error: function(rs, e) {
					alert('Erreur : ' + e);
				},
				complete: function(jqXHR, textStatus) {
					bsCadreLoad.hide();				
				}
			});
		};

		if(JSON.encode(BlockList) != JSON.encode(GBlock.List[GPage.Act])){
			GBlock.List[GPage.Act] = BlockList;
			GPage.saveVar(['imageList', 'dataList', 'blockList'], [JSON.encode(GImage.List), JSON.encode(GData.List), JSON.encode(GBlock.List)], CallBack);
		}
		else{
			GBlock.List[GPage.Act] = BlockList;
			GPage.saveVar(['imageList', 'dataList'], [JSON.encode(GImage.List), JSON.encode(GData.List)], CallBack);
		}
	}

	function setCadSave(CallBack)
	{
		CadInfo.open('Sauvegarde', '<div id="CadSaveLoad"></div><div id="CadSaveTxt">Sauvegarde en cours...</div>');

		var BlockList = GBlock.getSave();

		var CallBack3 = function()
		{
			setTimeout(function()
			{
				if(Ot.isFonc(CallBack)){
					CallBack();
				}

				CadInfo.close();
			}, 1000);

			document.getElementById('CadSaveLoad').className = 'terminer'; 
			document.getElementById('CadSaveTxt').className = 'terminer'; 
			document.getElementById('CadSaveTxt').innerHTML = 'Sauvegarde terminée';
		};

		if(JSON.encode(BlockList) != JSON.encode(GBlock.List[GPage.Act])){
			GBlock.List[GPage.Act] = BlockList;
			GPage.saveVar(['imageList', 'dataList', 'blockList'], [JSON.encode(GImage.List), JSON.encode(GData.List), JSON.encode(GBlock.List)], CallBack3);
		}
		else{
			GBlock.List[GPage.Act] = BlockList;
			GPage.saveVar(['imageList', 'dataList'], [JSON.encode(GImage.List), JSON.encode(GData.List)], CallBack3);
		}
	}

	Ot.domReady.add(Initialisation);

	</script>

</head>
<body>
	{{ include("SalonramaMainBundle:Main:noscript.html.twig") }}

	<div id="CreatorCadre">{{ include("SalonramaMainBundle:Buildsite:cadre.html.twig") }}</div>

	<div id="Creator">
		<div id="CreatorHead">
			<div id="CreatorHeadBarre">
				<div id="CreatorHeadLogo"></div>
				{% autoescape false %}
				{{ storyboard }}
				{% endautoescape %}
				<button type="button" class="button-small button-small-blue" onclick="voirSite()"><i class="icon-search"></i>Aperçu du site</button>
			</div>
			<div id="BarreOutil">{{ include("SalonramaMainBundle:Buildsite:barre_outil.html.twig") }}</div>
		</div>

		<div id="CreatorCon">
			<div id="Theme">
			</div>
		</div>

		<div id="CreatorFoot">
		<div id="CreatorFootCon">
			{% autoescape false %}
			{{ foot }}
			{% endautoescape %}
		</div>
		</div>
	</div>

	{{ include("SalonramaMainBundle:Main:google_analytics.html.twig") }}
	{{ include("SalonramaMainBundle:Main:feedback.html.twig") }}
</body>
</html>