{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 1 - Choix du thème</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/theme_select.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/step.css') }}"/>

	<script>

	var themeSelected;

	$(document).ready(function()
	{
		$('#themeSelect .themeSelectItem').each(function(){
			var item = $(this);
			var radio = item.find('.themeSelectItemRadio');
			radio.click(function(){ setTheme(item); });

			if(radio.find('input').prop('checked'))
			{
				themeSelected = item;
				themeSelected.addClass('select');
			}
		});

		if(!document.getElementById('EtapeValide'))
		{
			document.getElementById('EtapeSuivant').onclick = ValidePost;
		}
		else
		{
			document.getElementById('EtapeValide').onclick = ValidePost;
		}
	});

	function setTheme(item)
	{
		themeSelected.removeClass('select');
		themeSelected = item;

		themeSelected.addClass('select');
		themeSelected.find('input').prop('checked', true);
	}

	function seletTheme()
	{
		setTheme(Galerie.ImgAct.Obj.parentNode);
		Galerie.closeStart()

		setTimeout(function(){ Ot.moveScroll(0, ValidePost); }, 400);
	}

	function ValidePost()
	{
		$('#themeSelect form').submit();
	}

	</script>

	<style>

	</style>
{% endblock %}

{% block body %}
	{% autoescape false %}
	{{ storyboard }}
	{% endautoescape %}

	<h1>Etape 1 - Choix du thème</h1>

	{% if message %}
	<div class="cadre-small cadre-small-green">
		<i class="icon-ok"></i>{{ message }}
	</div>
	{% endif %}

	<div class="cadre-small cadre-small-orange">
		<i class="icon-info-sign"></i>Vous pourrez changer le thème plus tard s'il ne vous convient plus.
	</div>

	<h3>Liste des thèmes :</h3>

	<div id="themeSelect">
	<form method="post" action="">
		{% for value in theme %}
		<div class="themeSelectItem">
			<a href="{{ asset('bundles/salonramamain/theme/' ~ value.name ~ '/screenshot_max.jpg') }}" title="Agrandir cette image">
				<img src="{{ asset('bundles/salonramamain/theme/' ~ value.name ~ '/screenshot_max.jpg') }}" width="130"/><span class="Zoom"></span>
			</a>
			<div class="themeSelectItemRadio">
				<input type="radio" name="site-theme" value="{{ value.name }}" id="{{ value.name }}"{% if theme_current == value.name %} checked="checked"{% endif %}/>
				<label for="{{ value.name }}">Sélectionner</label>
			</div>
		</div>
		{% endfor %}
	</form>
	</div>

	{% autoescape false %}
	{{ foot }}
	{% endautoescape %}
{% endblock %}