<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ asset('bundles/salonramamain/images/favicon.ico') }}"/>

	<title>Créez le site de votre salon</title>

	<script src="{{ asset('bundles/salonramamain/buildsite/ot.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/json.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/mootools.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/history.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/previs.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/cadre.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/form.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/color.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/flash.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/css.js') }}"></script>

	<script src="{{ asset('bundles/salonramamain/buildsite/general.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/block.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/cadre.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/wys.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/upload.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/general.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/cadre.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/button.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/form.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/previs.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/etape.css') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/general.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/barre_outil.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/cadre.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/block.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/upload.css') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/theme/theme.css') }}"/>

</head>
<body>

	{{ include("SalonramaMainBundle:Main:google_analytics.html.twig") }}
	{{ include("SalonramaMainBundle:Main:feedback.html.twig") }}

</body>
</html>