{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 5 - Publication</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/recaptcha.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/step.css') }}"/>

	<style>

	.div3{
	float:right;
	width:31%;
	margin:0 1%;
	}

	#policy{
	font-size:12px;
	margin-top:10px;
	padding:2px;
	}

	</style>

	<script>

	var RecaptchaOptions = {
		lang : 'fr',
		theme : 'custom',
		custom_theme_widget: 'recaptcha_widget'
	};

	</script>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/js/jquery.popup.js') }}"></script>

	<script>

	var publishForm;
	var busy = false;

	$(document).ready(function()
	{
		if($('#publish-email').val() != '')
		{
			$('#publish-email').focus();
		}
		else
		{
			$('#publish-firstname').focus();
		}

		publishForm = new Form($('#publish-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Vérification en cours...');

					values['recaptcha_challenge_field'] = $('#recaptcha_challenge_field').val();

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							if(response.state == 0)
							{
								self.form.submit();
								self.setGlobalState(response.state, response.text);
							}
							else
							{
								self.setGlobalState(null);
								eval(response.exec);
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
			else if(result == 1){ self.setGlobalState(1, 'Champ Invalide.'); }
			else{ self.setGlobalState(1, 'Champs Invalides.'); }
		});
		publishForm.addInput('publish-lastname');
		publishForm.addInput('publish-firstname');
		publishForm.addInput('publish-email', { regexp: 'email' });
		publishForm.addInput('publish-password', { minLength: 4, maxLength: 25 });
		publishForm.addInput('recaptcha_response_field');
	});

	function redirectStep3()
	{
		document.location="{{ path('salonrama_main_buildsite_step3') }}";
	}

	function preview()
	{
		$.ajax({
			type: 'POST',
			url: 'preview',
			data: {},
			dataType: 'json',
			success: function(response){
				$.popupOpen('{{ pathFront }}index.php', 'full');
			},
			error: function(rs, e) {
				alert('Erreur : ' + e);
			}
		});
	}

	</script>

{% endblock %}

{% block body %}
	{% autoescape false %}
	{{ storyboard }}
	{% endautoescape %}

	<h1>Etape 5 - Publication</h1>

	<div class="cadre-small cadre-small-orange">
		<i class="icon-info-sign"></i>Vous venez de finir la création de votre site.<br/> 
		Une fois publié et disponible sur internet par vos clients et futurs clients, votre site sera automatiquement référencé dans les moteurs de recherche les plus connus (Google, Bing, Yahoo, etc…).
	</div>

	<form method="post" action="" id="publish-post">
	<fieldset>
		<legend>Inscription</legend>

		<fieldset class="form-fieldset">
			<label for="publish-firstname">Prénom</label>
			<div class="form-controls">
				<input type="text" name="publish-firstname" id="publish-firstname">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="publish-lastname">Nom</label>
			<div class="form-controls">
				<input type="text" name="publish-lastname" id="publish-lastname">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="publish-email">Email</label>
			<div class="form-controls">
				<input type="text" name="publish-email" id="publish-email" value="{{ email }}">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="publish-password">Mot de passe</label>
			<div class="form-controls">
				<input type="password" name="publish-password" id="publish-password">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="recaptcha_response_field">Test anti-machine</label>
			<div class="form-controls">
				{{ include("SalonramaMainBundle:Main:recaptcha.html.twig") }}
			</div>
		</fieldset>


		<div class="form-actions">
			<div class="form-global-state cadre-small"></div>
			<button type="submit" style="display:none;">Submit</button>
		</div>
	</fieldset> 
	</form>

	<div class="div3">	
		<button type="button" class="button-big button-big-green" onclick="publishForm.valide()">
			<span style="font-size:18px;"><i class="icon-upload-alt"></i>Publier mon site</span><br/>
			<span style="font-size:12px;">et terminer l'inscription</span>
		</button>
		<div id="policy">
			En cliquant sur « Publier mon site » vous acceptez <a href="{{ path('salonrama_main_policy') }}" target="_blank">les conditions d'utilisation</a>.
		</div>
		<div class="Clear"></div>
	</div>
	<div class="div3">
		<div id="EtapeAide" onclick="Ot.openPopup('aide/etape5.php', '550', '650')"><p>Aide</p></div>
	</div>
	<div class="div3">
		<button type="button" class="button-small button-small-blue" onclick="redirectStep3()"><i class="icon-pencil"></i>Modifier mon site</button>
		<br/><br/>
		<button type="button" class="button-small button-small-blue" onclick="preview()">
			<i class="icon-search"></i>Voir mon site
		</button>
	</div>
	<div class="clear"></div>
{% endblock %}