{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 1 - Choix du thème</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/theme_select.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/step.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/lightbox.css') }}"/>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/lightbox.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/buildsite/theme_select.js') }}"></script>

	<script>

	var lightbox;

	$(document).ready(function()
	{
		lightbox = new Lightbox({
			getDetailsCaption: function(title, imageNumber){
				return '<button type="button" onclick="ThemeSelect.setFromLightbox('+imageNumber+', lightbox)" class="button-small button-small-green"><i class="icon-ok"></i>Valider ce thème</button>';
			}
		});

		$('#theme-select .theme-select-item').each(function(){
			var item = $(this);
			var radio = item.find('.theme-select-item-radio');
			radio.click(function(){ ThemeSelect.set(item); });

			if(radio.find('input').prop('checked'))
			{
				ThemeSelect.selected = item;
				item.addClass('select');
				ThemeSelect.setScroll(0);
			}
		});

		if(!document.getElementById('EtapeValide'))
		{
			document.getElementById('EtapeSuivant').onclick = ThemeSelect.submit;
		}
		else
		{
			document.getElementById('EtapeValide').onclick = ThemeSelect.submit;
		}
	});

	</script>
{% endblock %}

{% block body %}
	{% autoescape false %}
	{{ storyboard }}
	{% endautoescape %}

	<h1>Etape 1 - Choix du thème</h1>

	{% if message %}
	<div class="frame-small frame-small-green">
		<i class="icon-ok"></i>{{ message }}
	</div>
	{% endif %}

	<div class="frame-small frame-small-orange">
		<i class="icon-info-sign"></i>Vous pourrez changer le thème plus tard s'il ne vous convient plus.
	</div>

	<h3>Liste des thèmes :</h3>

	<form method="post" action="" id="theme-post">
		<div id="theme-select">
			{% for name in theme_list %}
			<div class="theme-select-item">
				<a href="{{ asset('bundles/salonramamain/theme/' ~ name ~ '/screenshot_max.jpg') }}" data-lightbox="theme-select" class="lightbox-link">
					<img src="{{ asset('bundles/salonramamain/theme/' ~ name ~ '/screenshot_min.jpg') }}" width="130" height="115"/>
					<span class="lightbox-notif" title="Agrandir cette image"></span>
				</a>
				<div class="theme-select-item-radio">
					<input type="radio" name="site-theme" value="{{ name }}" id="{{ name }}"{% if theme == name %} checked="checked"{% endif %}/>
					<label for="{{ name }}">Sélectionner</label>
				</div>
			</div>
			{% endfor %}
		</div>
		<button type="submit" style="display:none;">Submit</button>
	</form>

	{% autoescape false %}
	{{ foot }}
	{% endautoescape %}
{% endblock %}