{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Mon compte</title>

	<style>

	.site1{
	margin:8px;
	float:left;
	}
	.site2{
	margin:8px;
	margin-top:25px;
	float:left;
	}
	.site2 strong{
	width:150px;
	display:inline-block;
	}

	</style>
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>

	{% if message %}
	{% if message.state == 0 %}
	<div class="frame-small frame-small-green">
		{% autoescape false %}
		<i class="icon-ok"></i>{{ message.text }}
		{% endautoescape %}
	</div>
	{% elseif message.state == 1 %}
	<div class="frame-small frame-small-red">
		<i class="icon-warning-sign"></i>{{ message.text }}
	</div>
	{% endif %}
	{% endif %}

	<div class="frame-box">
		<div class="frame-box-head"><h2>Mon site</h2></div>
		<div class="frame-box-body">
			<div class="site1">
				<img src="{{ snapshotUrl }}"/>
			</div>
			<div class="site2">
				<strong>Adresse</strong><a href="{{ siteUrl }}" target="_blanc" title="Voir mon site">{{ siteUrl }}</a><br>
				<strong>Mise à jour</strong>{{ last_update_interval }}<br>
				<strong>Date de création</strong>{{ creation_interval }}<br><br>
				<a href="{{ path('salonrama_main_account_site_edit') }}" class="button-small button-small-blue"><i class="icon-pencil"></i>Modifier mon site</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>

{% endblock %}