{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Mon salon</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>
{% endblock %}

{% block body %}
	<form method="post" action="" id="salon-post">
		<fieldset>
			<legend>Mon salon</legend>

			<fieldset class="form-fieldset">
				<label for="salon-name">Nom</label>
				<div class="form-controls">
					<input type="text" name="salon-name" id="salon-name" value="{{ salon.name }}">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="salon-address">Adresse</label>
				<div class="form-controls">
					<input type="text" name="salon-address" id="salon-address" value="{{ salon.address }}">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="salon-zipcode">Code postal</label>
				<div class="form-controls">
					<input type="text" name="salon-zipcode" id="salon-zipcode" value="{{ salon.zipcode }}">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="salon-citz">Ville</label>
				<div class="form-controls">
					<input type="text" name="salon-citz" id="salon-citz" value="{{ salon.city }}">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="salon-client-femme">Je coiffe les femmmes</label>
				<div class="form-controls">
					<input type="checkbox" name="salon-client-femme" id="salon-client-femme"/>
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="salon-client-homme">Je coiffe les hommes</label>
				<div class="form-controls">
					<input type="checkbox" name="salon-client-homme" id="salon-client-homme"/>
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state cadre-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled">Sauvegarder les modifications</button>
			</div>
		</fieldset> 
		</form>
{% endblock %}