{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Général</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var generalForm = new Form($('#general-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							self.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								self.setInitValue();
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
			else if(result == 1){ self.setGlobalState(1, 'Champ Invalide.'); }
			else{ self.setGlobalState(1, 'Champs Invalides.'); }
		}, true);
		generalForm.addInput('general-lastname');
		generalForm.addInput('general-firstname');
		generalForm.setInitValue();
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-tab-left" class="nav-tab">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-tab-right">
		<form method="post" action="" id="general-post">
		<fieldset>
			<legend>Informations personnelles</legend>

			<fieldset class="form-fieldset">
				<label for="general-firstname">Prénom</label>
				<div class="form-controls">
					<input type="text" name="general-firstname" id="general-firstname" value="{{ app.user.account.firstName }}">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="general-lastname">Nom</label>
				<div class="form-controls">
					<input type="text" name="general-lastname" id="general-lastname" value="{{ app.user.account.lastName }}">
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state frame-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled"><i class="icon-hdd"></i>Sauvegarder les modifications</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}