{% extends "SalonramaMainBundle:Main:help.html.twig" %}

{% block title %}Aide - {{ article.name }}{% endblock %}

{% block help_body %}
	<h1>{{ article.name }}</h1>

	{% autoescape false %}
	{{ article.text }}
	{% endautoescape %}

	<div class="center">
		<hr/>
		<div class="feedback">Le contenu de cette page vous a-t-il été utile ? <a href="">Oui</a> - <a href="">Non</a></div>
		<a href="{{ path('salonrama_main_contact') }}" class="button-small button-small-blue" type="button"><i class="icon-comments"></i>Envoyez nous un message</a>
	</div>

	<script>

	document.title = "Aide - {{ article.name|escape('js') }}";

	</script>
{% endblock %}