{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>{% block title %}{% endblock %}</title>

	{% stylesheets 'bundles/salonramamain/css/help.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block javascript %}
	{% javascripts 'bundles/salonramamain/js/smartload.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>

	$(document).ready(function()
	{
		new Smartload($('#smartload'), ontrigger, initLink);
		initLink();

		{% if focus_query is defined %}
		$('#help-search input').focus();
		{% endif %}
	});

	function ontrigger(child)
	{
		var child = $(child);

		if(child.parents('#nav-tab-left').length == 0)
		{
			child = $('#nav-bar li:first-child a');
		}

		if(child.find('.icon-spinner').length == 0)
		{
			child.append('<i class="icon-spinner icon-spin"></i>');
		}
	}

	function initLink()
	{
		$('#nav-bar a').click(function(event){ setPage(event, $(this)); });

		$('#nav-tab-left a').click(function(event){
			var self = this;

			if($(this).find('.icon-reply').length > 0)
			{
				event.preventDefault();
				setTimeout(function(){
					$('#nav-tab-left ul.show').last().removeClass('show');
					$('#nav-bar li:last-child').remove();
				}, 300);
				$('#nav-tab-offset').css('left', '+='+$('#nav-tab-left').width()+'px');
			}
			else
			{
				var child = $(this).next('ul');

				if(child.length > 0)
				{
					event.preventDefault();
					child.addClass('show');
					var li = $('<li><a>'+$(this).text()+'</a><i class="icon-caret-right"></i></li>');
					li.find('a').click(function(event){ setPage(event, $(this)); });
					$('#nav-bar ul').append(li);
					$('#nav-tab-offset').css('left', '-='+$('#nav-tab-left').width()+'px');
				}
			}
		});

		$('#nav-tab-right .feedback a').click(function(event){
			event.preventDefault();

			if(this.innerHTML == 'Oui')
			{
				var feedback = 'yes';
			}
			else
			{
				var feedback = 'no';
			}

			$.ajax({
				type: "POST",
				url: '',
				data: { feedback: feedback },
				dataType: "text",
				success: function(response){
					$('#nav-tab-right .feedback').html('Nous vous remercions de nous avoir contactés.');
				},
				error: function(rs, e) {
					alert(e);
				}
			});
			
		});
	}

	function setPage(event, a)
	{
		var $a = $('#nav-bar a');
		var length = $a.length - 1 - $a.index(a);
		
		if($a.index(a) > 0)
		{
			event.preventDefault();
		}

		if(length > 0)
		{
			setTimeout(function(){
				for(var i = 0; i < length; i++)
				{
					$('#nav-tab-left ul.show').last().removeClass('show');
					$('#nav-bar li:last-child').remove();
				}
			}, 300);
			$('#nav-tab-offset').css('left', '+='+$('#nav-tab-left').width()*length+'px');
		}
	}

	</script>
{% endblock %}

{% block body %}
	<div id="help-search">
		<form method="get" action="{{ path('salonrama_main_help_search') }}" class="smartload">
			<input type="text" name="query" placeholder="Comment pouvons-nous vous aider ?" value="{% if query is defined %}{{ query }}{% endif %}">
			<button title="Rechercher" class="button-big button-big-blue" type="submit"><i class="icon-search"></i></button>
			<div class="clear"></div>
		</form>
	</div>

	<div id="smartload">
	{% block help_nav %}
	{% macro ul(node, isFirstNode, class) %}
	    <ul{% if not isFirstNode %} class="nav-tab-nextlevel{% if class %} {{ class }}{% endif %}"{% endif %}>
			{% for child in node %}
			{% if 'name' in child|keys %}
			<li>
				{% if child.children %}
				<a href="">{{ child.name }}<i class="icon-angle-right"></i></a>
				{% else %}
				<a href="{{ path("salonrama_main_help_article", { 'id': child.id }) }}" class="smartload{% if 'class' in child|keys %} {{ child.class }}{% endif %}">{{ child.name }}</a>
				{% endif %}
				{% if child.children %}
				{% if 'class' in child|keys %}
				{{ _self.ul(child.children, false, child.class) }}
				{% else %}
				{{ _self.ul(child.children, false) }}
				{% endif %}
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
			{% if not isFirstNode %}
			<li><a href="">Précédent<i class="icon-reply"></i></a></li>
			{% endif %}
	    </ul>
	{% endmacro %}

		<div id="nav-bar">
			<ul>
				{% for name in nav_bar %}
				<li>{% if loop.first %}<a href="{{ path('salonrama_main_help') }}" class="smartload"><i class="icon-home"></i>{% else %}<a href="">{% endif %}{{ name }}</a><i class="icon-caret-right"></i></li>
				{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>

		<div id="nav-tab-left" class="nav-tab">
			<div id="nav-tab-offset" style="left:{{ nav_tab_offset }}px;">
				{{ _self.ul(nav_tab, true, '') }}
			</div>
		</div>
		<div id="nav-tab-right">
		{% block help_body %}
		{% endblock %}
		</div>
		<div class="clear"></div>
	{% endblock %}
	</div>
{% endblock %}