{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Salonrama - Créez le site internet de votre salon de coiffure gratuitement</title>

	<meta name="description" content="Créez le site internet de votre salon de coiffure en 5 minutes"/>
	<meta name="keywords" content="création, créer, crée, site, internet, salon, coiffure, gratuit, coiffeur, web, vitrine, logiciel, en ligne, salonrama, tassi, conseil, agence, sans difficultés, facile, sans connaissances informatique, sans jargon informatique, simple, simplicité, hébergement, nom de domaine, outil, webmaster, gratuitement, construire, facile, débutant, pas cher, coder, programmer, propre, comment, annuaire, notoriété, pub"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/slider.css') }}"/>

	<style>

	#Slider1{
	margin-top:30px;
	}
	#Slider1 .div2{
	width:43%;
	margin:0 3%;
	float:left;
	}
	#Slider1 .div1{
	margin:0 3%;
	float:left;
	}
	#Slider1 ul{
	list-style-type:none;
	padding:0;
	margin:85px 0 0 50px;
	}
	#Slider1 ul li{
	font-weight:bold;
	font-size:19px;
	margin-bottom:10px;
	text-align:left;
	}



	#bouton{
	text-align:center;
	margin-top:25px;
	position:relative;
	}
	#bouton .button-big{
	padding-left:80px;
	padding-right:80px;
	}

	#free{
	position:absolute;
	left:557px;
	top:-28px;
	}

	.popup-holder{ 
	text-align: center; 
	position: relative;
	top:20px;
	margin-top:30px;
	margin-bottom:17px;
	}

	.popup-holder img{
	box-shadow: -2px -2px 10px -3px #ccc, -2px -2px 10px -3px #ccc, 4px -2px 10px -3px #ccc;
	}

	.popup-holder .popup-link{
	position: absolute;
	top: 50%;
	outline: none;
	left: 50%;
	width: 98px;
	height: 98px; 
	margin-top: -46px;
	margin-left: -46px; 
	background: url({{ asset('bundles/salonramamain/images/popup_link.png') }}) no-repeat 0 0; 
	}

	.popup-holder:hover .popup-link{
	background-position: center !important; 
	}

	.popup-holder .popup-link:active{
	background-position: bottom !important; 
	}

	#Slider2 .slide a{
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	margin:15px;
	display:inline-block;
	}
	#Slider2 .slide a:hover{
	opacity:0.7;
	}
	#Slider2 .slide a img{
	display:block;
	}

	.advantage{
	width:270px;
	height:130px;
	float:left;
	display:inline-block;
	text-align: center;
	margin-bottom: 20px;
	}
	.advantage p{
	font-size:18px;
	padding-top:10px;
	}
	.advantage i{
	font-size:40px;
	color:#808080;
	}

	.advantage p{
	padding-right:20px;
	padding-left:20px;
	}

	#extra{
	font-size:10px;	
	margin-top:5px;
	}

	#Slider2{
	height:375px;
	margin-bottom:30px;
	}

	</style>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/slider.js') }}"></script>

	<script>

	$(document).ready(function()
	{
		new Slider('Slider1', 6000);
		new Slider('Slider2', 4000);
	});

	</script>
{% endblock %}

{% block body %}
	<div class="center">
		<h1>Votre salon sur internet</h1>
		<h2>Facile et intuitif, à vous de jouer !</h2>
	</div>

	<div id="Slider1" class="slider">
		<div class="slider-list">
			<div class="slide">
				<div class="div1">
					<img src="{{ asset('bundles/salonramamain/images/index/salonrama_showcase.jpg') }}" width="468" height="265"/>
				</div>
				<div class="div1">
				<ul>
					<li>Facile</li>
					<li>Moderne</li>
					<li>Gratuit</li>
				</ul>
				</div>
			</div>
			<div class="slide">
				<div class="div2">
					<img src="{{ asset('bundles/salonramamain/images/index/growth.jpg') }}" width="345" height="265"/>
				</div>
				<div class="div2" style="padding-top:70px;">
					<h2>Démarquez vous de vos concurrents</h2>
					<h3>Les salons de coiffure les plus recherchés ont un site internet, et vous ?</h3>
				</div>
			</div>
			<div class="slide">	
				<div class="div2">
					<img src="{{ asset('bundles/salonramamain/images/index/hair.png') }}" width="339" height="265"/>
				</div>
				<div class="div2" style="padding-top:50px;">
					<h2>Spécialement conçu pour les salons de coiffure</h2>
					<a target="_blank" href="http://demo.salonrama.fr" class="button-big button-big-green" style="margin-top:15px;">
						Voir la démonstration <br>
						<span style="font-size:18px;">Un site créé avec Salonrama</span>
					</a>
				</div>
			</div>
		</div>
		<div class="slider-paddle-left" title="Précédent"><div></div></div>
		<div class="slider-paddle-right" title="Suivant"><div></div></div>
		<div class="slider-dot">
			<ul>
				<li><a class="select"></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
		</div>
	</div>

	<div id="bouton">
		<a href="{{ path('salonrama_main_buildsite_step1') }}" class="button-big button-big-blue">
			<span style="font-size:18px;">Créez le site de votre</span><br>
			<span style="font-size:25px;">Salon de coiffure</span>
		</a>
		<div id="free"><img src="{{ asset('bundles/salonramamain/images/index/free.png') }}"  width="82" height="82"/></div>
		<div id="extra">Fonctionne aussi pour la coiffure à domicile</div>
	</div>

	<div class="popup-holder" >
          <a class="popup-link" href="http://www.youtube.com/watch?v=_JnZC7MlgZ8" title="Créez le site de votre salon de coiffure gratuitement - Salonrama.fr"></a>
          <img alt="Créez le site de votre salon de coiffure gratuitement avec Salonrama" src="{{ asset('bundles/salonramamain/images/index/salonrama_video.jpg') }}">
	</div>

	<div class="separation-horizontal" style:"margin-bottom:50px;"></div>

	<h3>À vous de personnaliser le site de votre salon :</h3>

	<div id="Slider2" class="slider">
		<div class="slider-list">
			{% for name in theme_list %}
			{% if loop.index0 % 8 == 0 %}
				<div class="slide">
			{% endif %}
				<a href="{{ path('salonrama_main_buildsite_step1_theme', { 'theme': name }) }}" title="Choisir ce thème"><img src="{{ asset('bundles/salonramamain/theme/' ~ name ~ '/screenshot_min.jpg') }}" width="160" height="141"/></a>
			{% if loop.index0 % 8 == 7 %}
				</div>
			{% endif %}
			{% endfor %}		
		</div>
		<div class="slider-paddle-left" title="Précédent"><div style="left:0"></div></div>
		<div class="slider-paddle-right" title="Suivant"><div style="left:100px"></div></div>
		<div class="slider-dot">
			<ul>
				<li><a class="select"></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
		</div>
	</div>

	<div class="separation-horizontal" style="margin-bottom:15px"></div>
	<div>

		<div class="advantage"><div class="separation-vertical" style="float:right"></div><p><i class="icon-check-sign"></i><br>Aucune connaissance informatique nécessaire</p></div>
		<div class="advantage"><div class="separation-vertical" style="float:right"></div><p><i class="icon-question-sign"></i><br>Une aide gratuite et rapide</p></div>
		<div class="advantage"><p><i class="icon-ban-circle"></i><br>Aucune publicité</p></div>

		<div class="separation-horizontal" style="position:relative; top:135px; background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#D7D7D7), to(#fff));"></div>

		<div class="advantage"><div class="separation-vertical" style="float:right"></div><p><i class="icon-camera"></i><br>Une galerie photo pour présenter vos réalisations</p></div>
		<div class="advantage"><div class="separation-vertical" style="float:right"></div><p><i class="icon-map-marker"></i><br>Un plan pour guider vos clients</p></div>
		<div class="advantage"><p><i class="icon-thumbs-up-alt"></i><br>Des conseils spécialisés pour les réseaux sociaux</p></div>
	</div>
	<div class="clear"></div>

	<div class="separation-horizontal" style="margin-top:-10px;margin-bottom:30px"></div>

	<p class="center">
		<a href="{{ path('salonrama_main_presentation') }}" class="button-big button-big-green">
			En savoir plus :<br>
			<span style="font-size:18px;">Le concept Salonrama</span>
		</a>
	</p>

{% endblock %}