{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Salonrama - Créez le site internet de votre salon de coiffure gratuitement</title>

	<meta name="description" content="Créez le site internet de votre salon de coiffure en 5 minutes"/>
	<meta name="keywords" content="création, créer, crée, site, internet, salon, coiffure, gratuit, coiffeur, web, vitrine, logiciel, en ligne, salonrama, tassi, conseil, agence, sans difficultés, facile, sans connaissances informatique, sans jargon informatique, simple, simplicité, hébergement, nom de domaine, outil, webmaster, gratuitement, construire, facile, débutant, pas cher, coder, programmer, propre, comment, annuaire, notoriété, pub"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/slider.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/lightbox.css') }}"/>

	<style>

	.title{
	margin:60px 0 15px;
	}

	#Slider1{
	margin-top:30px;
	}
	#Slider1 .div2{
	width:43%;
	margin:0 3%;
	float:left;
	}
	#Slider1 .div1{
	margin:0 3%;
	float:left;
	}
	#Slider1 .slide ul{
	list-style-type:none;
	padding:0;
	margin:85px 0 0 50px;
	}
	#Slider1 .slide ul li{
	font-size:19px;
	margin-bottom:5px;
	text-align:left;
	}

	#bouton{
	text-align:center;
	margin-top:25px;
	position:relative;
	}
	#bouton .button-big{
	padding-left:80px;
	padding-right:80px;
	}
	#free{
	position:absolute;
	left:557px;
	top:-28px;
	}
	#extra{
	font-size:10px;	
	margin-top:5px;
	}

	.popup-holder{ 
	position:relative;
	display:block;
	text-align:center;
	}
	.popup-holder .popup-link{
	position:absolute;
	top:50%;
	outline:none;
	left:50%;
	width:98px;
	height:98px; 
	margin-top:-46px;
	margin-left:-46px; 
	background:url({{ asset('bundles/salonramamain/images/popup_link.png') }}) no-repeat 0 0; 
	}
	.popup-holder:hover .popup-link, .popup-holder:focus .popup-link{
	background-position:center; 
	}
	.popup-holder:active .popup-link{
	background-position:bottom; 
	}

	#Slider2{
	height:360px;
	}
	#Slider2 .slide a{
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	margin:15px;
	display:inline-block;
	}
	#Slider2 .slide a:hover{
	opacity:0.7;
	}
	#Slider2 .slide a img{
	display:block;
	}

	.advantage{
	width:229px;
	float:left;
	text-align:center;
	font-size:18px;
	padding:10px;
	margin:10px;
	display:block;
	color:#000;
	}
	.advantage i{
	font-size:40px;
	color:#808080;
	}

	</style>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/slider.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/js/lightbox.js') }}"></script>

	<script>

	$(document).ready(function()
	{
		new Lightbox({
			getDetailsCaption: function(title, imageNumber){
				return '';
			}
		});

		new Slider($('#Slider1'), 6000);
		new Slider($('#Slider2'), 4000);
	});

	</script>
{% endblock %}

{% block body %}
	<div class="center">
		<h1>Votre salon sur internet</h1>
		<h3>Facile et intuitif, à vous de jouer !</h3>
	</div>

	<div id="Slider1" class="slider">
		<div class="slider-list">
			<div class="slide">
				<div class="div1">
						<img src="{{ asset('bundles/salonramamain/images/index/salonrama_showcase.jpg') }}" width="468" height="265"/>		
				</div>
				<div class="div1">
					<p style="font-size:22px; line-height:40px; position:relative; margin-top:80px; margin-left:50px">Facile<br/>
					Moderne<br/>
					Gratuit</p>
				</div>
			</div>
			<div class="slide">
				<div class="div2">
					<img src="{{ asset('bundles/salonramamain/images/index/growth.jpg') }}" width="345" height="265"/>
				</div>
				<div class="div2" style="padding-top:70px;">
					<h2>Démarquez vous de vos concurrents</h2>
					<h3>Les salons de coiffure les plus recherchés ont un site internet, et vous ?</h3>
				</div>
			</div>
			<div class="slide">	
				<div class="div2">
					<img src="{{ asset('bundles/salonramamain/images/index/hair.png') }}" width="339" height="265"/>
				</div>
				<div class="div2" style="padding-top:50px;">
					<h2>Spécialement conçu pour les salons de coiffure</h2>
					<a target="_blank" href="http://demo.salonrama.fr" class="button-big button-big-green" style="margin-top:15px;">
						Voir la démonstration <br>
						<span style="font-size:18px;">Un site créé avec Salonrama</span>
					</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="slider-paddle-left" title="Précédent"></div>
		<div class="slider-paddle-right" title="Suivant"></div>
		<div class="slider-dot">
			<ul>
				<li><a class="select"></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
		</div>
	</div>

	<div id="bouton">
		<a href="{{ path('salonrama_main_buildsite_step1') }}" class="button-big button-big-blue">
			<span style="font-size:18px;">Créez le site de votre</span><br>
			<span style="font-size:25px;">Salon de coiffure</span>
			<div id="free"><img src="{{ asset('bundles/salonramamain/images/index/free.png') }}"  width="82" height="82"/></div>
		</a>
		<div id="extra">Fonctionne aussi pour la coiffure à domicile</div>
	</div>

	<div class="center title">
		<h2>Le concept</h2>
	</div>

	<a href="http://www.youtube.com/embed/_JnZC7MlgZ8?rel=0&autohide=1&autoplay=1&controls=1&fs=1&loop=0&showinfo=1&wmode=opaque" class="popup-holder" data-lightbox="iframe" title="Vidéo de présentation">
		<div class="popup-link"></div>
		<img src="{{ asset('bundles/salonramamain/images/index/salonrama_video.jpg') }}" width="626" height="228"/>
	</a>

	<div class="center title">
		<h2>Une multitude de thèmes</h2>
		<h3>À vous de personnaliser le site de votre salon</h3>
	</div>

	<div id="Slider2" class="slider">
		<div class="slider-list">
			{% for name in theme_list %}
			{% if loop.index0 % 8 == 0 %}
				<div class="slide">
			{% endif %}
				<a href="{{ path('salonrama_main_buildsite_step1_theme', { 'theme': name }) }}" title="Choisir ce thème"><img src="{{ asset('bundles/salonramamain/theme/' ~ name ~ '/screenshot_min.jpg') }}" width="150" height="132"/></a>
			{% if loop.index0 % 8 == 7 %}
				</div>
			{% endif %}
			{% endfor %}
			<div class="clear"></div>
		</div>
		<div class="slider-paddle-left" title="Précédent"></div>
		<div class="slider-paddle-right" title="Suivant"></div>
		<div class="slider-dot">
			<ul>
				<li><a class="select"></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
		</div>
	</div>

	<div class="center title">
		<h2>Plein d'avantages</h2>
	</div>

	<div class="advantage"><i class="icon-check-sign"></i><br>Aucune connaissance informatique nécessaire</div>
	<div class="separation-vertical"></div>
	<div class="advantage"><i class="icon-question-sign"></i><br>Une aide gratuite et rapide</div>
	<div class="separation-vertical"></div>
	<div class="advantage"><p><i class="icon-ban-circle"></i><br>Aucune publicité</p></div>

	<div class="clear"></div>
	<hr>

	<div class="advantage"><i class="icon-camera"></i><br>Une galerie photo pour présenter vos réalisations</div>
	<div class="separation-vertical"></div>
	<div class="advantage"><i class="icon-map-marker"></i><br>Un plan pour guider vos clients</div>
	<div class="separation-vertical"></div>
	<div class="advantage"><i class="icon-thumbs-up-alt"></i><br>Des conseils spécialisés pour les réseaux sociaux</div>
	
	<div class="clear"></div>

	<p class="center" style="margin-top:30px;">
		<a href="{{ path('salonrama_main_presentation') }}" class="button-big button-big-green">
			En savoir plus :<br>
			<span style="font-size:18px;">Le concept Salonrama</span>
		</a>
	</p>

{% endblock %}