{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Se connecter</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/tooltip.css') }}"/>

	<style>

	#login-post{
	margin-bottom:50px;
	}

	</style>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	$(document).ready(function()
	{
		if($('#login-email').val() == '')
		{
			$('#login-email').focus();
		}
		else
		{
			$('#login-password').focus();
		}

		var loginForm = new Form($('#login-post'), function(result, values, self){
			if(result == 0)
			{
				self.form.submit();
			}
		});
		loginForm.addInput('login-email', { regexp: 'email' });
		loginForm.addInput('login-password', { minLength: 4, maxLength: 25 });
	});

	</script>
{% endblock %}

{% block body %}
	<form method="post" action="{{ path('salonrama_main_login_check') }}" id="login-post">
	<fieldset>
		<legend>Accéder à mon compte</legend>

		<fieldset class="form-fieldset">
			<label for="login-email">Adresse email</label>
			<div class="form-controls">
				<input type="text" name="email" id="login-email" value="{{ email }}">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="login-password">Mot de passe</label>
			<div class="form-controls">
				<input type="password" name="password" id="login-password"><br><br>
				<a href="{{ path('salonrama_main_forgot_password') }}" tabindex="-1" style="font-size:12px;">J'ai oublié mon mot de passe</a>
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="login-remember">
				Se souvenir de moi
				<span class="tooltip">
					<i class="icon-question-sign"></i>
					<span>En cochant cette case, vous resterez connecté sur cet ordinateur.<br/>
					Dans le cas contraire, en fermant votre navigateur vous serez déconnecté.</span>
				</span>
			</label>
			<div class="form-controls">
				<input type="checkbox" name="_remember_me" id="login-remember" checked="checked"/>
			</div>
		</fieldset>
		<div class="form-actions">
			{% if error %}
			<div class="form-global-state frame-small frame-small-red" style="display:block;">
				<i class="icon-warning-sign"></i>{{ error.message|trans([], 'error') }}
			</div>
			{% else %}
			<div class="form-global-state frame-small"></div>
			{% endif %}
			<button type="submit" class="button-small button-small-green"><i class="icon-lock"></i>Se connecter</button>
		</div>
	</fieldset>
	</form>

	<form method="post" action="">
	<fieldset>
		<legend>Je ne suis pas encore inscrit</legend>
		<p style="margin:10px 0 10px; text-align:center;">
			<a href="{{ path('salonrama_main_buildsite_step1') }}" class="button-big button-big-blue">
				Créez maintenant le site de votre<br/>
				<span style="font-size:18px;">Salon de coiffure</span>
			</a>
		</p>
	</fieldset> 
	</form>
{% endblock %}