<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ asset('bundles/salonramamain/images/favicon.ico') }}"/>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/main.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/font_awesome.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/cadre.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/button.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/jquery.js') }}"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	{% if addNoscript|default(false) == true %}
	{{ include("SalonramaMainBundle:Main:noscript.html.twig") }}
	{% endif %}

	<div id="main">
		<div id="header">
			<a href="{{ path('salonrama_main_index') }}" title="Accueil"><img src="{{ asset('bundles/salonramamain/images/logo.png') }}" width="300" height="43"/></a><br/>
			<h1>Créez le site internet de votre salon de coiffure</h1>
		</div>

		<div id="menu">
			<div id="nav">
				<ul>
				{% set nav = [
					['Accueil', 'salonrama_main_index'],
					['Présentation', 'salonrama_main_contact'],
					['Actualités', 'salonrama_main_contact'],
					['Aide', 'salonrama_main_help'],
					['Mon compte', 'salonrama_main_account_index']
				]%}
		        {% for item in nav %}
		            <li>
		            	<a href="{{ path(item[1]) }}" title="{{ item[0] }}" {% if item[1] == app.request.attributes.get('_route') %} class="select"{% endif %}>
	            			{% if item[1] == 'salonrama_main_index'%}
	            				<i class="icon-home"></i>
	            			{% else %}
	            				{{ item[0] }}
	            			{% endif %}
		            	</a>
		           	</li>
		        {% endfor %}
		    	</ul>
		    	<span class="clear"></span>
			</div>
			<div id="nav-connexion">
			{% if is_granted('ROLE_USER') %}
				<form method="post" action="{{ path('salonrama_main_logout') }}">
					<a href="{{ path('salonrama_main_account_index') }}" title="Accéder à l'administration de mon site"><i class="icon-user"></i>Mon compte</a>
					<span>
						Adresse email : <ins id="ThemeEmail">{{ app.user.email }}</ins>
					</span>
					<button type="submit" class="button-small button-small-blue"><i class="icon-unlock-alt"></i>Se déconnecter</button>
				</form>
			{% else %}
				<form method="post" action="{{ path('salonrama_main_login_check') }}">
					<a href="{{ path('salonrama_main_account_index') }}" title="Accéder à l'administration de mon site"><i class="icon-user"></i>Mon compte</a>
					<p>
						<label for="nav-email">Adresse email :</label><input id="nav-email" name="email" type="text"/>
						<label for="nav-password">Mot de passe :</label><input id="nav-password" name="password" type="password"/>
					</p>
					<button type="submit" class="button-small button-small-blue"><i class="icon-lock"></i>Se connecter</button>
				</form>
			{% endif %}
			</div>
		</div>

		<div id="corps" class="corps">
			{% block body %}
			{% endblock %}
		</div>

		<div id="footer">
			<div id="footer-link">
				<a href="{{ path('salonrama_main_contact') }}">Contact</a>
				| <a href="{{ path('salonrama_main_presse') }}">Presse</a>
				| <a href="{{ path('salonrama_main_about') }}">A propos</a>
				| <a href="{{ path('salonrama_main_legal') }}">Mentions légales</a>
			</div>
			<div id="footer-copyright">
				<a href="{{ path('salonrama_main_index') }}">Copyright © {{ 'now'|date("Y") }}<strong> - Salonrama v.1 beta</strong></a>
			</div>
			<div class="clear"></div>
			<div id="footer-social">
				<strong>Restons connecté</strong>
				<ul>
					<li><a href="https://twitter.com/salonrama" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
					<li><a href="https://www.facebook.com/salonrama" target="_blank"><i class="icon-facebook-sign"></i>Facebook</a></li>
					<li><a href="http://www.youtube.com/user/salonrama" target="_blank"><i class="icon-youtube"></i>Youtube</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>

{{ include("SalonramaMainBundle:Main:google_analytics.html.twig") }}
{{ include("SalonramaMainBundle:Main:feedback.html.twig") }}

</body>
</html>