{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Présentation</title>

	<style>

	#main p{
	font-size:16px;
	}

	.advantage{
	width:269px;
	float:left;
	text-align:center;
	}
	.advantage a{
	font-size:18px;
	padding:10px;
	margin:10px;
	display:block;
	color:#000;
	text-decoration:none !important;
	}
	.advantage i{
	font-size:40px;
	color:#808080;
	}
	.advantage a:hover{
	background-color:rgba(232, 232, 232, 0.5);
	}

	.title{
	margin:80px 0 20px;
	}

	.gauche{
	float:left;
	margin-right:30px;
	}

	.droite{
	float:right;
	margin-left:10px;
	}

	.argument{
	margin-left:20px;
	}
	.argument i{
	color:#09f;
	font-size:50px;
	float:left;
	}
	.argument h2{
	color:#09f;
	font-weight:400;
	margin-bottom:5px;
	margin-left:80px;
	}
	.argument p{
	margin-left:80px;
	}

	.bordure{
	margin-left:100px;
	margin-bottom:20px;
	}
	.bordure .etape{
	color:#09f;
	float:left;
	font-weight:bold;
	margin-right:20px;
	}

	#bouton{
	text-align:left;
	margin-top:25px;
	position:relative;
	}
	#bouton .button-big{
	padding-left:100px;
	padding-right:100px;
	}

	.ribbon{
	width:615px;
	height:69px;
	margin:auto;
	margin-top:40px;
	margin-bottom:20px;
	background:url({{ asset('bundles/salonramamain/images/presentation/ribbon.png') }}) no-repeat;
	}
	.ribbon h1{
	color:#fff;	
	position:relative;
	top:17px;
	}

	.fonctionnalite{
	margin-top:40px;
	padding:0 20px 40px;
	}
	.fonctionnalite img{
	margin-right:20px;
	margin-bottom: 20px;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	}
	.fonctionnalite .gauche{
	float:left;
	margin-right:50px;
	}
	.fonctionnalite .droite{
	float:right;
	margin-left:50px;
	}
	.fonctionnalite h2{
	font-weight:400;
	margin-bottom:15px;
	font-size:25px;
	color:#5A5A5A;
	}
	</style>
{% endblock %}

{% block javascript %}
	<script>

	$(document).ready(function()
	{
		$('a[href^="#"]').click(function(){ 
			var id = $(this).attr("href");
			var offset = $(id).offset().top
			$('html, body').animate({scrollTop: offset}, 'slow');
			return false; 
		}); 
	});

	</script>
{% endblock %}

{% block body %}
	<div class="center">
		<h1>Votre salon sur internet</h1>
		<h2>Le concept Salonrama</h2> 
	</div>

	<div class="advantage"><a href="#1"><i class="icon-group"></i><br>Votre salon et vos clients</a></div>
	<div class="separation-vertical"></div>
	<div class="advantage"><a href="#2"><i class="icon-laptop"></i><br>Pourquoi créer un site internet ?</a></div>
	<div class="separation-vertical"></div>
	<div class="advantage"><a href="#3"><i class="icon-sitemap"></i><br>Votre salon et vos concurrents</a></div>
	<div class="clear"></div>
	<hr>

	<div class="advantage"><a href="#4"><i class="icon-facebook-sign"></i><br>Un site internet ou Faceboook ?</a></div>
	<div class="separation-vertical"></div>
	<div class="advantage"><a href="#5"><i class="icon-cut"></i><br>Pourquoi avec Salonrama ?</a></div>
	<div class="separation-vertical"></div>
	<div class="advantage"><a href="#6"><i class="icon-cogs"></i><br>Salonrama : comment ça marche ?</a></div>
	<div class="clear"></div>
	<hr>

	<div class="advantage"><a href="#7"><i class="icon-puzzle-piece"></i><br>Salonrama : en détails</a></div>
	<div class="separation-vertical"></div>
	<div class="clear"></div>

	<div class="center title ribbon" id="1">
		<h1>Votre salon et vos clients</h1>
	</div>

	<div class="center">
		<img src="{{ asset('bundles/salonramamain/images/presentation/votre salon de coiffure et vos clients.png') }}"/>
	</div>

	<div  class="center title ribbon" id="2">
		<h1>Pourquoi créer un site internet ?</h1>
	</div>

	<div class="argument">
		<i class="icon-group"></i>
		<h2>Trouvez de nouveaux clients</h2>
		<p>Votre site internet sera enregistré dans les moteurs de recherche tels que Google, Bing ou Yahoo.<br>
			Lorsqu’une personne cherchera alors un salon de coiffure dans votre ville, il verra votre site internet.</p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-time"></i>
		<h2>Ne perdez plus votre temps</h2>
		<p>Rien de plus désagréable quand vous vous occupez d'un client lorsque le téléphone ne cesse de sonner. Le temps passé à répondre nuit alors à votre concentration et pourrait déranger votre client. Avec un site internet et aux informations présentes (horaires d’ouverture, tarifs…), le nombre d’appels diminuera fortement.</p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-bullhorn"></i>
		<h2>Augmentez votre notoriété</h2>
		<p>Sur votre site internet vous pourrez ajouter des photos de vos réalisations et ainsi impressionner vos visiteurs. </p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-cut"></i>
		<h2>Présentez votre savoir-faire</h2>
		<p>Sur votre site internet vous pourrez ajouter des photos de vos réalisations et ainsi impressionner vos visiteurs. </p>
		<div class="clear"></div>
	</div>

	<div class="center title ribbon" id="3">
		<h1>Votre salon et vos concurrents</h1>
	</div>

	<p class="gauche" style="color:#333; font-size:25px; margin:0 20px;">
		<span style="font:130px impact, sans-serif;">27 %</span><br>des salons de coiffure<br> ont un site internet
	</p>
	<img src="{{ asset('bundles/salonramamain/images/presentation/stat.png') }}"/>

	<div style="background: url({{ asset('bundles/salonramamain/images/presentation/ribbon2.png') }}) no-repeat; width:815px; height:172px; font-size:40px; font-family:impact, sans-serif; padding-top:20px; text-align:center; margin:auto;">DÉMARQUEZ-VOUS<br>MAINTENANT</div>

	<div  class="center title ribbon" id="4">
		<h1>Un site internet ou Facebook ?</h1>
	</div>

	<div style="float:left; width:350px; background:#54bbda; border:1px solid #D3EEF5; color:white; padding:10px; ">
		<i class="icon-facebook-sign" style="font-size:33px;"></i>
		<h2 style="position:relative; margin-left:10px; display:inline; top:-5px;">Facebook</h2>
		<div style="margin:auto; border-bottom:2px solid #A9DDEC; margin:10px 0;"></div>
		<p style="font-weight:bold; margin-bottom:10px;">Permet de:<img style="float:right;"src="{{ asset('bundles/salonramamain/images/presentation/valider.png') }}" alt="valider"/></p>
		<p style="color:white; width:300px;">- Créer une communauté autour des clients de votre salon et les fidéliser.<br><br>
		- Afficher l'actualité de votre salon de coiffure et prévenir des modifications de votre site.</p>
		<div style="margin:auto; border-bottom:2px solid #A9DDEC; margin:10px 0;"></div>

		<p style="font-weight:bold; margin-bottom:10px;">Ne permet pas de:<img style="float:right;"src="{{ asset('bundles/salonramamain/images/presentation/erreur.png') }}" alt="erreur"/></p>

		<p style="color:white; width:300px;">- Etre trouvé facilement sur internet.<br><br>

		- Transmettre votre style et l'atmosphère de votre salon.</p>
	</div>

	<div style="float:right; width:400px; background:#66CC99; border:1px solid #66CC99; color:white; padding:10px;">
		<i class="icon-globe" style="font-size:33px;"></i>
		<h2 style="position:relative; margin-left:10px; display:inline; top:-5px;">Site internet</h2>
		<div style="margin:auto; border-bottom:2px solid #B2E5CB; margin:10px 0;"></div>
		<p style="font-weight:bold; margin-bottom:10px;">Permet de:<img style="float:right;"src="{{ asset('bundles/salonramamain/images/presentation/valider2.png') }}" alt="valider"/></p>
		<p style="color:white; width:350px;">- Etre trouvé facilement sur internet grâce aux moteurs de recherche (ex: Google).<br><br>

		- Transmettre le style et l'atmosphère de votre salon grâce au thème choisi pour votre site. Tout est personnalisable !<br><br>

		- Présenter votre savoir-faire et vos réalisations.<br><br>

		- Rester en contact avec votre clientèle et afficher l'actualité de votre salon.</p>
	</div>

	<div class="center">
		<img style="margin-top:20px;" src="{{ asset('bundles/salonramamain/images/presentation/dialogue.png') }}" alt="dialogue" />
	</div>

	<div style="background:url({{ asset('bundles/salonramamain/images/presentation/salonrama_ok.png') }}) no-repeat; height:190px;">
		<p style="font-size:21px; color:#fff; position:relative; top:50px;left:90px;">Salonrama vous permet de<br> créer le site de votre salon de<br> coiffure et vous aide pour<br> votre page Facebook</p>
	</div>
	<div  class="center title ribbon" id="5">
		<h1>Pourquoi avec Salonrama ?</h1>
	</div>

	<div class="argument">
		<i class="icon-thumbs-up-alt"></i>
		<h2>C'est facile !</h2>
		<p>Vous créez le site de votre salon de coiffure en temps réel en ligne, comme sur un logiciel de traitement de texte. Il n'y a rien à installer sur votre ordinateur et aucune connaissance informatique n'est requise.</p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-cut"></i>
		<h2>Exclusivement dédié aux salons de coiffure</h2>
		<p>Nous connaissons parfaitement les salons de coiffure et sommes ainsi mieux à même de répondre à vos besoins. Votre site internet sera pré-rempli avec les pages les plus demandés pour un salon !</p>
		<div class="clear"></div>
	</div>

	<div class="argument" >
		<i class="icon-briefcase"></i>
		<h2>Vous créez un site professionnel</h2>
		<p>Choissisez le thème de votre site parmi liste proposée et personnalisez le pour vous démarquer !</p>
		<div class="clear"></div>
	</div>

	<div class="argument" >
		<i class="icon-pencil"></i>
		<h2>Modifiez votre site à tout moment</h2>
		<p>Ne passer pas par quelqu'un pour modifier votre site. Modifiez-le vous même, immédiatement et sans perdre de temps. L'internet n'attend pas !</p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-google-plus-sign"></i>
		<h2>Le site de votre salon en première page sur les moteurs de recherche</h2>
		<p>Soyez visible immédiatement sur les moteurs de recherche (ex: Google) grâce aux outils techniques spécifiquement développés par Salonrama et nos conseils  ! </p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-minus-sign"></i>
		<h2>Aucune publicité sur votre site</h2>
		<p>Nous avons décidé de ne pas mettre de publicité sur votre site car elles pourraient distraire vos clients et nuire à votre image.</p>
		<div class="clear"></div>
	</div>

	<div class="argument">
		<i class="icon-comments"></i>
		<h2>Une aide gratuite avec une réponse rapide</h2>
		<p>Parce que nous savons que l'internet n'est pas toujours facile à prendre en main, nous sommes présent pour vous aider à tout moment pour la création de votre site ou vous aider à le faire connaître. 
		</p>
		<div class="clear"></div>
	</div>

	<div class="center title ribbon" id="6">
		<h1>Salonrama : comment ça marche ?</h1>
	</div>

	<div style="background:url({{ asset('bundles/salonramamain/images/presentation/fleche.png') }}) 10px bottom no-repeat;">
		<div class="bordure">
		<p class="etape">Etape 1</p><p>Vous choissisez le thème de votre site</p>
		</div>

		<div class="bordure">
		<p class="etape">Etape 2</p><p>Les coordonnées de votre salon</p>
		</div>

		<div class="bordure">
		<p class="etape">Etape 3</p><p>Vous modifiez votre site déjà pré-rempli</p>
		</div>

		<div class="bordure">
		<p class="etape">Etape 4</p><p>Vous choissisez l'adresse web de votre site</p>
		</div>

		<div class="bordure">
		<p class="etape">Etape 5</p><p>Vous publiez votre site sur internet !</p>
		</div>
	</div>

	<div  class="center title ribbon" id="7">
		<h1>Salonrama : en détails</h1>
	</div>

	<div class="fonctionnalite">
		<img class="gauche" src="{{ asset('bundles/salonramamain/images/presentation/traitementdetexte.jpg') }}" alt="traitement_de_texte"/>
		<h2>Facile, comme un logiciel de traitement de texte </h2>
		<p>La modification de votre site se fait directement en ligne et en temps réel. Parce que nous savons que la création d'un site internet n'est pas évidente, nous avons décidé de la simplifier au maximum. Pour modifier un texte, cliquez dessus, écrivez, et voilà ! Comme sur Word !</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div class="fonctionnalite">
		<img class="droite" src="{{ asset('bundles/salonramamain/images/presentation/menu.jpg') }}" alt="menu"/>
		<h2>Votre site déjà pré-rempli ! </h2>
		<p>Parce que Salonrama est exclusivement dédié aux salons de coiffure, nous connaissons au mieux ce qu'attendent vos clients sur votre site. Vos pages sont alors pré-rempli et vous facilitent la vie !</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div class="fonctionnalite">
		<img class="gauche" src="{{ asset('bundles/salonramamain/images/presentation/galerie.jpg') }}" alt="galerie_photo"/>
		<h2>Une galerie photo professionnelle </h2>
		<p>Pour présenter les réalisations de vos coiffeurs, rien de mieux qu'une présentation claire, esthétique et professionnelle. Avec Salonrama, assurez votre notoriété en présentant vos dernières coupes dans la page "Galerie Photo" que nous vous avons réservé.</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div class="fonctionnalite">
		<img class="droite" src="{{ asset('bundles/salonramamain/images/presentation/deplacer.jpg') }}" alt="deplacer"/>
		<h2>Glissez & Déposez !</h2>
		<p>Pour changer la place d'un texte ou d'une photo, il suffit de prendre cet élément avec la souris et de le mettre où vous le souhaiter. Facile ! Par exemple, si vous prenez le cadre de texte "Découvrez notre salon" et que vous souhaitez le mettre à la place de la photo à gauche, cliquez, glissez, déposez, la photo ira directement à droite et le texte à gauche. C'est automatique et presque magique !</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div class="fonctionnalite">
		<img class="gauche" src="{{ asset('bundles/salonramamain/images/presentation/plan.jpg') }}" alt="galerie_photo"/>
		<h2>Un plan pour guider vos clients </h2>
		<p>Illustrez d'une facon claire et simple où se trouve votre salon. A partir de cette carte présente préalablement sur votre site, vos clients pourront définir un itinéraire (exemple : de chez eux à votre salon) et ainsi vous trouver beaucoup plus facilement.</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div class="fonctionnalite">
		<img class="droite" src="{{ asset('bundles/salonramamain/images/presentation/mail.jpg') }}" alt="mail"/>
		<h2>Un formulaire de contact sur votre site </h2>
		<p>Grâce à ce formulaire de contact par l'envoi d'e-mail, vos clients pourront vous contacter rapidement et sans perte de temps. Un client satisfait est un client qui revient !</p>
		<div class="clear"></div>
	</div>

	<hr>
	<div style="font-style:italic; color:grey;">
		<strong>Sources:</strong>
		<ul>
			<li>
			Le site de votre salon en première page sur les moteurs de recherche grâce à Salonrama - Selon notre dernière étude, si vous avez créé votre site avec Salonrama, dans la majorité des cas votre site sera en première page sur les moteurs de recherche pour les mots clés concernant votre activité ! Ainsi si votre salon s’appelle « Hair Look » et que vous habitez à Annecy, lorsqu’une personne tapera « Hair Look Annecy Salon de coiffure » sur un moteur de recherche (exemple Google), vous serez en première page ! Ainsi mis en avant, vos clients et vos clients potentiels vous trouveront rapidement et aisément ! Aucune connaissance technique nécessaire. Il faut compter environ un mois pour les moteurs de recherche pour prendre en compte la création de votre site.
			<a href="http://www.salonrama.fr/news.php/2013/07/07/comment-faire-connaitre-le-site-de-votre-salon-de-coiffure/">www.salonrama.fr/news.php/2013/07/07/comment-faire-connaitre-le-site-de-votre-salon-de-coiffure/</a> 
			</li>
			<li>
			70% des personnes connectées ont tendance à se renseigner sur internet (savoir-faire du salon, horaires, tarifs, compétence des coiffeurs, atmosphère ou spécialité du salon) avant de bénéficier d'un service (comme se faire couper les cheveux) ou d'acheter un produit en magasin. -
			<a href="http://www.camagazine.com/archives-fr/articles-web/2007/camagazine5179.aspx">www.camagazine.com/archives-fr/articles-web/2007/camagazine5179.aspx</a></li>
			<li>
			27%
			des salons de coiffure
			ont un site internet - livre blanc de la FNC
			</li>
		</ul>
	</div>
{% endblock %}